<div data-role="content">
  <ul data-role="listview">
    <li><a href="detail/ugx_Cookshop">飯を食べたい</a></li>
    <li><a href="#">観光したい</a></li>
    <li><a href="#">バスに乗る</a></li>
    <li><a href="#">電車に乗る</a></li>
    <!-- <li><a href="/hotspring">温泉行きたい</a></li> -->
    <li><a href="/hotspring">温泉行きたい</a></li>
  </ul>
</div>
